body { font-family: Lucida Grande, Arial, sans-serif; font-size: 10pt; line-height: 150%; margin: 0; padding: 0; }
canvas { border: 5px solid #eee; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; float: left; }
h1, h2 { font-family: Helvetica, Arial, sans-serif; font-weight: normal; }
h1 { color: #666; font-size: 36pt; }
h2 { color: #333; font-size: 24pt; }
label { color: #333; font-weight: bold; margin: 10px 0 5px; }
section { display: block; }
#page { margin: 20px auto; width: 1000px; }
.actions { clear: left; float: left; margin-top: 20px; width: 700px; }
.options { float: right; width: 280px; }
.options section { background: #eee; border: 0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 0 0 20px; padding: 5px 20px; }
.options section h2 { color: #999; font-size: 10pt; margin: 0 0 10px; text-align: center; }
.ui-slider { margin: 5px 0 15px; }